@use "sass:map";
$breakpoints: (
  "small": (
    max-width: 800px,
  ),
  "medium": (
    max-width: 1024px,
  ),
  "large": (
    max-width: 1200px,
  ),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media screen and #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for breakpoint';
  }
}
