.btn {
  padding: 16px;
  max-height: 45px;
  min-width: 170px;
  border: unset;
  outline: unset;
  background-image: var(--primary-background-color);
  border-radius: 30px;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
