@use "../base/" as *;

.content {
  &--intro {
    display: flex;
    padding-left: 92px;

    @include respond-to("small") {
      flex-flow: column-reverse wrap;
      padding: unset;
      min-height: 65rem;
    }

    .details {
      height: inherit;
      display: flex;
      align-items: flex-start;
      flex-flow: column wrap;
      justify-content: center;
      width: 30%;

      @include respond-to("small") {
        text-align: center;
        align-items: center;
        width: unset;
        margin: unset;
        padding: 0px 10px;
      }

      @include respond-to("medium") {
        width: unset;
      }

      h1 {
        color: var(--color-primary-blue);
        font-size: 5.3rem;
        line-height: 1.2;
        font-weight: 300;
        max-width: 400px;

        @include respond-to("small") {
          font-size: 4.2rem;
        }
      }

      p {
        color: var(--color-secondary-blue);
        max-width: 600px;
        margin: 16px 0px;
      }
    }

    .image__container {
      background-image: url("../images/bg-intro-desktop.svg");
      background: {
        repeat: no-repeat;
        size: cover;
      }

      &--wrapper {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        @include respond-to("small") {
          transform: translate(0rem, -8rem) !important;
        }

        @include respond-to("medium") {
          transform: translate(9rem, -2rem);
        }
      }

      @include respond-to("small") {
        background-image: url("../images/bg-intro-mobile.svg");
        background-position: unset !important;
      }

      @include respond-to("medium") {
        overflow: hidden;
        background-position: top -8rem right -24rem;
      }
    }
  }

  &--onboarding {
    background-color: var(--color-secondary-liteblue);
    padding-left: 92px;
    padding-top: 110px;
    height: 600px;

    .title {
      font-size: 3.2rem;
      line-height: 1.2;
      font-weight: 300;
      margin-bottom: 24px;
    }
    .subtitle {
      color: var(--color-secondary-blue);
    }

    .options_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 170px;
      margin-top: 64px;

      .option {
        flex: calc(100% / 4);
        max-width: 260px;
        height: 300px;
        .title {
          font-size: 2rem;
          font-weight: 500;
        }

        .detail {
          color: var(--color-secondary-blue);
        }
      }
    }
  }

  &--articles {
    padding-left: 92px;
    padding-top: 110px;
    padding-bottom: 110px;
    margin: 10px 0px;
    .title {
      font-size: 3.2rem;
      line-height: 1.2;
      font-weight: 300;
      margin-bottom: 24px;
    }

    .aticles_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 100px;
      margin-top: 64px;
      gap: 24px;

      .article {
        border-radius: 10px;
        flex: calc(100% / 4 - 24px);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 1rem 2rem rgb(50 50 50 / 10%);
          transform: translateY(-1px);
        }
        &--header {
          height: 200px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
          }
        }

        &--body {
          padding: 16px;
          .author {
            font-size: 1.2rem;
            color: var(--color-secondary-blue);
            margin: unset;
          }
          .title {
            font-size: 2rem;
            font-weight: 500;
            margin: 16px 0px;

            &:hover {
              color: var(--color-primary-limegreen);
            }
          }
          .des {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: unset;
            color: var(--color-secondary-blue);
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
