@use "../base/" as *;

.footer {
  min-height: 200px;
  background-color: var(--color-primary-blue);
  padding: 32px 92px 32px 92px;
  display: flex;
  align-items: space-between;

  @include respond-to("small") {
    flex-direction: column;
    align-items: center;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 20%;

    .logo {
      path[role="svg"] {
        fill: white;
      }
    }

    .social-icons {
      margin-top: 72px;

      @include respond-to("small") {
        margin-top: 24px;
        margin-bottom: 16px;
      }

      svg:not(:first-child) {
        margin-left: 10px;
      }
      svg {
        &:hover {
          path {
            fill: var(--color-primary-limegreen);
          }
        }
      }
    }
  }

  ul {
    flex: 20%;

    @include respond-to("small") {
      padding: unset;
      text-align: center;
      margin: 0px;
    }

    li {
      color: var(--color-gray);
      font-size: 1.6rem;
      margin: 10px 0px;

      @include respond-to("small") {
        margin: 0px 0px;
      }

      &:hover {
        color: var(--color-primary-limegreen);
      }
    }
  }

  .button_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-width: 30%;
    flex: 40%;

    @include respond-to("small") {
      margin-top: 24px;
    }
    .rights {
      margin: 24px 0px;
      color: var(--color-secondary-blue);
      font-size: 1.4rem;

      @include respond-to("small") {
        margin: 16px auto;
      }
    }
  }
}
