@use "../base/" as *;
.header {
  padding: 30px 92px;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 8px 6px -6px #ccc;
  z-index: 9999;
  position: fixed;
  width: 100%;
  background-color: var(--color-white);

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 16px;

      li {
        padding: unset;
        margin: 0px 16px;
        color: var(--color-secondary-blue);
        position: relative;

        &:hover {
          color: var(--color-black);
          &::before {
            content: " ";
            height: 3px;
            width: -webkit-fill-available;
            position: absolute;
            background: var(--primary-background-color);
            bottom: -12px;
            margin: auto;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .menuIcon {
    display: none;
  }

  /****  media quires relted to mobiles **/
  @include respond-to("small") {
    padding: 24px 16px;
    .icon_wrapper {
      .icon {
        margin-top: 8px;
      }
    }
    nav {
      display: none;
    }
    button {
      display: none;
    }
    .menuIcon {
      display: block;
      align-self: center;
    }
  }
}
